<!DOCTYPE html>
<html>

<head>
  <title>Update</title>
  <link rel='stylesheet' href='/css/style.min.css' />
</head>

<body>

  <footer>
    View on Project Node.js ToDo App List<br>
    Made with webprojem.xyz
  </footer>
</body>
<script type="text/javascript" src="./javascripts/jquery.js"></script>
<script type="text/javascript" src="./javascripts/script.js"></script>
</html>
